@import './styles/react-toastify-styles.css';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.with-scrollbar::-webkit-scrollbar {
  width: 14px;
}

.with-scrollbar::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  @apply bg-green-primary rounded-lg bg-clip-padding;
}

.without-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.with-scrollbar-sm::-webkit-scrollbar {
  width: 2px;
  transform: translateX(-50%);
}

.with-scrollbar-sm::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
  @apply bg-green-primary rounded-lg bg-clip-padding;
}

.border-gradient-primary  {
  --b: 2px;  /* border width*/

  color: #313149;
  padding: calc(var(--b));
  position:relative !important;
  z-index:0;
}


.border-gradient-primary::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: var(--b);
  background: var(--c,linear-gradient(90deg, #23B8FF 0%, #8F4FFF 50.5%, #D423F9 100%)); 
  mask: 
    linear-gradient(#000 0 0) exclude, 
    linear-gradient(#000 0 0) content-box;
}